# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Logs
*.log

# OS
.DS_Store

# Environment-specific files
application-local.properties
application-dev.properties

# i am adding this file after pushing the code without password
# Application config
#src/main/resources/application.properties

#
src/main/resources/application-local.properties

